#content .header {
  font-size: 30px;
  color: #000;
}
#content .header i.icon {
  margin-right: 8px;
}
#content #listDocuments .headers {
  position: relative;
}
#content #listDocuments .headers .header {
  display: inline-block;
  color: #808080;
  opacity: 0.5;
  padding: 40px;
  padding-left: 0px;
  padding-bottom: 18px;
}
#content #listDocuments .headers .header i.icon {
  opacity: 0.5;
}
#content #listDocuments .headers .header.active {
  color: #000;
  opacity: 1;
}
#content #listDocuments .headers .header span.fa-stack {
  font-size: 16px;
  margin-left: 10px;
}
#content #listDocuments .headers div.input {
  display: inline-block;
  position: absolute;
  z-index: 50;
  right: 8px;
  bottom: 20px;
  float: right;
  opacity: 0.6;
  width: 200px;
  transition: width 100ms ease-out;
  transition-delay: 300ms;
}
#content #listDocuments .headers div.input:hover {
  opacity: 1;
}
#content #listDocuments .headers div.input.large {
  width: 300px;
  transition: width 300ms ease-out;
}
#content #listDocuments .headers div.input input {
  display: block;
  width: 100%;
  padding-right: 26px;
}
#content #listDocuments .headers div.input i {
  position: absolute;
  top: 5px;
  right: 7px;
  color: #ccc;
}
#content #listDocuments .headers div.autoComplete {
  display: inline-block;
  position: absolute;
  transition: height 100ms ease-in;
  width: 300px;
  height: 0px;
  overflow: hidden;
  z-index: 25;
  right: 8px;
  top: 72px;
  background-color: #e67e22;
  box-shadow: 0px 0px 8px #888;
  padding-bottom: 0px;
}
#content #listDocuments .headers div.autoComplete.active {
  transition: all 100ms ease-in;
  transition-delay: 200ms;
  height: 195px;
  overflow-y: auto !important;
}
#content #listDocuments .headers div.autoComplete .UE {
  width: 200%;
  padding: 12px;
}
#content #listDocuments .headers div.autoComplete .UE:hover {
  background-color: rgba(255,255,255,0.2);
}
#content #listDocuments .headers div.autoComplete .UE .code {
  font-size: 24px;
}
#content #listDocuments .headers div.autoComplete .UE .name {
  font-size: 16px;
}
#content #listDocuments .contents {
  width: 100%;
  overflow-x: hidden;
  height: 150px;
}
#content #listDocuments .contents .slider {
  width: 200%;
  position: relative;
  left: 0;
  transition: left 300ms ease-out;
}
#content #listDocuments .contents .slider.showSecond {
  left: -100%;
  transition: left 300ms ease-out;
}
#content #listDocuments .contents .slider .content {
  vertical-align: top;
  overflow: visible;
  display: inline-block;
  width: 50%;
}
