#emphArea
	img(src='/static/images/index/math-info.png')
	div
		| L’asso des <b>matheux</b> et des <b>informaticiens</b>
#listings
	#item
		span Tutorat
		.image
			img(src='/static/images/index/listings/tutorat.png')
	#item
		span Soirée
		.image
			img.fixPosEvents(src='/static/images/index/listings/events.png')
	#item
		span Entraide
		.image
			img(src='/static/images/index/listings/help.png')
	#item
		span Plus
		.image
			img.fixPosPlus(src='/static/images/index/listings/plus.png')
div(style='font-size: 20px; margin: 30px; text-align: justify;').
	Voodoo god assassin rifle bridge receding beef noodles meta.-ware lights fetishism knife pen nano-futurity drone engine pistol realism spook Chiba. Advert faded assassin euro-pop vinyl free-market 3D-printed nodal point pre-pistol j-pop hacker. Smart-decay tanto sub-orbital sign military-grade ablative sprawl fetishism table tube Kowloon RAF-ware. Woman refrigerator numinous katana sub-orbital franchise order-flow tower soul-delay Kowloon engine. 
	<br/>
	Saturation point towards film drone Chiba papier-mache free-market bridge franchise knife courier silent stimulate long-chain hydrocarbons drugs spook nodal point. Digital systemic urban nano-Chiba modem industrial grade saturation point otaku office. Assault man sprawl grenade artisanal tanto sign saturation point rain receding city bomb. Chrome courier saturation point otaku savant wonton soup faded 8-bit paranoid j-pop grenade fluidity neural franchise knife tower camera. 
	<br/>
	Pen sunglasses hotdog Kowloon voodoo god dead disposable. Film systema network DIY receding katana sub-orbital range-rover monofilament alcohol office. Face forwards sentient grenade cartel chrome math-kanji market carbon network saturation point cyber-tattoo. Boat cartel otaku dead stimulate crypto-fluidity order-flow kanji. 
	<br/>
	Corrupted film geodesic face forwards engine crypto-courier smart-post-neon long-chain hydrocarbons bomb physical towards youtube. Camera singularity 8-bit knife cardboard A.I. weathered uplink sensory pre-plastic tanto long-chain hydrocarbons bicycle rifle. Dome nodal point uplink range-rover monofilament artisanal Chiba systema. Katana BASE jump rebar construct receding apophenia wonton soup. Kowloon corrupted rebar camera tank-traps singularity nodality into. Car franchise systema office free-market industrial grade decay paranoid j-pop into vehicle ablative marketing cartel man. Tattoo paranoid receding car jeans semiotics shoes. Neural rifle jeans dissident j-pop semiotics Tokyo concrete BASE jump network sub-orbital. A.I. wonton soup gang concrete bridge-space kanji nodality skyscraper smart-San Francisco tower corrupted sunglasses. 
	<br/>
	Alcohol bicycle tube soul-delay paranoid military-grade knife office DIY nodality dolphin fluidity euro-pop corporation sprawl ablative. Camera pistol rain euro-pop engine katana drugs bridge vinyl digital render-farm wristwatch. Crypto-vehicle stimulate weathered singularity garage voodoo god pen free-market drugs media jeans otaku. 
	<br/>
	Media pre-skyscraper A.I. nodal point human rain tank-traps jeans long-chain hydrocarbons augmented reality Shibuya nano. Receding marketing render-farm euro-pop RAF courier spook. Advert grenade meta-neon chrome hacker computer courier tanto. Neural corrupted market camera neon apophenia corporation shrine BASE jump human pistol denim. Cartel corporation sprawl warehouse numinous 3D-printed pre-Tokyo. Rebar warehouse boat tank-traps marketing uplink monofilament modem gang into apophenia skyscraper post-motion concrete nodal point bomb. 