#forum
	h1 Forum d'entraide d'Hello World
	.bg-white
		.head
			.top
				.title
					| Explorer les questions
				.menu
					a(href='#').active Actif
					a(href='#') Hot
					a(href='#') Cette semaine
					a(href='#') Ce mois
			.tags
				.tag HLIN503
				.tag HLMA502
				.tag Information
				.tag.selected HLMA301
				.tag HLMA403
				.tag Question
				.tag Math
				.tag Info
		.question
			.numbers
				.votes 1
				.answers 4
				.views 62
			.content
				a.title(href='#') Puissance d'une matrice
				.tags
					.tag HLMA501
					.tag Math
					.tag Matrice
				.info
					.time
						| ajouté il y a 2 minutes
					a(href='/users/toDo_userId').who
						| Jean Paul
					.reputation 7862
		.question
			.numbers
				.votes 1
				.answers 4
				.views 62
			.content
				a.title(href='#') Puissance d'une matrice
				.tags
					.tag HLMA501
					.tag Math
					.tag Matrice
				.info
					.time
						| ajouté il y a 2 minutes
					a(href='/users/toDo_userId').who
						| Jean Paul
					.reputation 7862
