html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body.smallHeader header {
  font-size: 15px;
  height: 80px;
  -webkit-transition: height 100ms linear;
  transition: height 100ms linear;
}
body.smallHeader header .background div.content img#logoSmall {
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  -ms-filter: none;
  filter: none;
  opacity: 1;
  margin-top: 14px;
  margin-left: 4px;
}
body.smallHeader #content {
  -webkit-transition: margin-top 100ms linear;
  transition: margin-top 100ms linear;
  padding-top: 200px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #ecf0f1;
}
body header {
  -webkit-transition: height 200ms linear;
  transition: height 200ms linear;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 300px;
  background-image: url("/static/images/header/back-repeat.jpg");
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 0px 8px #555;
  box-shadow: 0px 0px 8px #555;
}
body header .background {
  background-image: url("/static/images/header/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  color: #e67e22;
  height: 100%;
}
body header .background .content {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
body header .background .content #logo {
  margin: auto;
  display: block;
}
body header .background .content #logoSmall {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  float: left;
  height: 50px;
  position: absolute;
}
body header .background .content .links {
  text-align: right;
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 18px;
}
body header .background .content .links a.link {
  text-decoration: none;
  cursor: default;
  color: #ccc;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
body header .background .content .links a.link i {
  margin-right: 5px;
}
body header .background .content .links a.link i.sum,
body header .background .content .links a.link i.fa-terminal {
  font-weight: bold;
}
body header .background .content .links a.link.active,
body header .background .content .links a.link:hover {
  color: #e67e22;
}
body header .background .content .links a.link.active {
  border-bottom: 2px solid #e67e22;
}
body #content {
  padding-top: 300px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
body #content #emphArea img {
  float: right;
  margin: 30px;
  margin-left: 0px;
}
body #content #emphArea div {
  padding-left: 40px;
  text-align: right;
  margin-right: 268px;
  font-size: 57px;
  padding-top: 50px;
}
body #content #listings {
  clear: both;
  background-color: #e67e22;
  border-radius: 10px;
}
body #content #listings #item {
  background-color: transparent;
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 220px;
  margin: 0 10px;
  height: 200px;
  float: none;
}
body #content #listings #item:hover {
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  background-color: rgba(255,255,255,0.2);
}
body #content #listings #item:hover .image {
  -webkit-transition: transform 100ms linear;
  transition: transform 100ms linear;
  -webkit-transform: scale(1.14);
  -ms-transform: scale(1.14);
  transform: scale(1.14);
}
body #content #listings #item span {
  display: block;
  font-variant: small-caps;
  text-align: center;
  color: #fff;
  font-size: 48px;
  margin-top: 13px;
  margin-bottom: 13px;
}
body #content #listings #item .image {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px rgba(170,170,170,0.8) inset;
  box-shadow: 0px 0px 12px rgba(170,170,170,0.8) inset;
}
body #content #listings #item .image img {
  padding: 10px;
  width: 100px;
  height: 100px;
  position: relative;
  top: 10px;
}
body #content #listings #item .image img.fixPosEvents {
  padding: 7px;
  top: 5px;
  left: 5px;
}
body #content #listings #item .image img.fixPosPlus {
  padding: 16px;
  top: 0px;
  left: 0px;
}
